 /*index.css*/
body{
    background-color: rgb(1, 2, 4);
    background-image: url(../imagenes/aspectos/Vayne_0.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.contenedor{
    position: absolute;
}
header{
width: 931px;
height: 200px;
position: static;
text-align: center;
}

header h1 {
    color: #dedede;
    text-align: center;
    font-size: 4em;
}
header h2 {
    color: #dedede;
    text-align: center;
}
nav ul li{
	list-style-type: none;
	display:inline;
}

nav a{
    
    color: #dedede;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}
nav a:hover{

    color: skyblue;

}


section div h2 {
    color: rgb(138, 119, 119);
}
.info {

    background-color: #dedede;
    border-style: solid;
    border-color: gray;
    border-width: 1.2em;
    width: 931px;
    height: 560px;
    padding: 2em; 
    position: absolute;
}

.infouno {
    border-style: groove;
    border-color: gray;
    width: 380px;
    height: 550px;
    position: absolute; top:20px; left: 10px;
}
.infodos {
    border-style: solid;
    border-color: gray;
    width: 565px;
    height: 550px;
    position:absolute; top:20px; left:420px;
}
span{
    font-size: 1.3em;
    
}

.video0{
    border-style: groove;
    width: 560px;
    height: 315px;
}
.hab0{
    border-style: groove;
    width: 64px;
    height: 64px;
    position:  relative; top:5px; left: 10px;
}
.hab1{
    border-style: groove;
    width: 64px;
    height: 64px;
    position: relative; top:-65px; left:100px;
}
.hab2{
    border-style: groove;
    width: 64px;
    height: 64px;
    position: absolute; top:403px; left:190px;
}
.hab3{
    border-style: groove;
    width: 64px;
    height: 64px;
    position: absolute; top:403px; left:280px;
}
.hab4{
    border-style: groove;
    width: 64px;
    height: 64px;
    position: absolute; top:403px; left:370px;
}

.aspecto{
    background-color: #dedede;
    width: 975px;
    height: 650px;
    border-style: solid;
    border-color: gray;
    border-width: 1.2em;
    padding-left: 1.2em;
    position: relative; top: 680px;
    
  
}
.aspectouno{
    border-style: groove;
    width: 300px;
    position:relative;
}
.aspectodos{
    border-style: groove;
    width: 300px;
    position:absolute; top: 70px; left: 345px;
    
}
.aspectotres{
    border-style: groove;
    width: 300px;
    position:absolute; top: 70px; left: 670px;
}
.aspectocuatro{
    border-style: groove;
    width: 300px;
    position:relative; top: 5px;
}
.aspectocinco{
    border-style: groove;
    width: 300px;
    position:absolute; top: 263px; left:345px;
}
.aspectoseis{
    border-style: groove;
    width: 300px;
    position:absolute; top: 263px; left:670px;
}
.aspectosiete{
    border-style: groove;
    width: 300px;
    position:relative; top: 13px;
}
.aspectoocho{
    border-style: groove;
    width: 300px;
    position:absolute; top: 457px; left:345px;
}
.aspectonueve{
    border-style: groove;
    width: 300px;
    position:absolute; top: 457px; left:670px;
}


.habilidades{
    background-color: #dedede;
    width: 931px;
    border-style: solid;
    border-color: gray;
    border-width: 1.2em;
    padding: 2em;
    position: relative; top:700px;
}
.NightHunter{
    height: 215px;
    border-bottom-style: groove;
}
.VayneTumble{
    border-bottom-style: groove;
}

.SilveredBolts{

    border-bottom-style: groove;
}
.Condemn{
    border-bottom-style: groove;
}

.habilidad0{

    position: relative;
    width: 600px;
}
.name0{
    font-size: 1.5em;
    position: absolute; top: 0px; left:100px;
}
.habilidad0video{

    position: absolute; top: 100px; left:660px;

}

.habilidad1{
    position: relative;
    width: 600px;

}
.name1{
    font-size: 1.5em;
    position: absolute; top: 0px; left:100px;
}
.habilidad1video{
    position: absolute; top: 340px; left:660px;
}

.habilidad2{
    position: relative;
    width: 600px;
}
.name2{
    font-size: 1.5em;
    position: absolute; top: 0px; left:100px;
}
.habilidad2video{
    position: absolute; top: 620px; left:660px;

}
.habilidad3{
    position: relative;
    width: 600px;
}
.name3{
    font-size: 1.5em;
    position: absolute; top: 0px; left:100px;
}
.habilidad3video{
    position: absolute; top: 940px; left:660px;

}
.habilidad4{
    position: relative;
    width: 600px;
}
.name4{
    font-size: 1.5em;
    position: absolute; top: 0px; left:100px;
}
.habilidad4video{
    position: absolute; top: 1260px; left:660px;

}
span{
    position: relative; top: 105px left 100px;
}

footer{
    color: #dedede;
    position: relative; top: 700px;
}
footer a{

    color: rgb(235, 242, 245);
    float: right;

}